<div id="left">
  <div id="legs">
    <img src="/images/logo_top_transp.png" class="legs" />
    <a href="/" class="logobottom" style="margin-top: <%= -135 + (@round.question_number * 15) %>px"><img src="/images/logo_bottom.png" /></a>
  </div>

  <div id="tries">
    <span class="small">you're hanging</span>
    <span class="big"><%= "#{@round.question_number} #{@round.question_number == 1 ? "try" : "tries"}" %></small>
    <span class="small">above ground</span>
  </div>

  <img src="/images/poweredby.jpg" class="poweredby" />
</div>

<div id="center">
  <%= erb :question, :locals => { :question => @round.question } %>
  <h2>Who is this?</h2>
</div>

<div id="right">
  <img src="/images/rechtsoben_this_is.png" />
  <form action="/<%= @round.permalink %>/solve" method="post">
    <input type="text" name="attempt" class="text" />
    <input type="image" src="/images/button_solve_default.png" />
  </form>

  <form action="/<%= @round.permalink %>/give_up" method="post" class="giveup">
    <input type="image" src="/images/button_giveup_default.png" />
  </form>
</div>
